@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}
/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}
.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #e1b838;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev
{
    left: 650px;
    top: 560px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}
.slick-next
{
    top:560px;
    right: 640px;
}                                 /*my*/
.left,.right {
    position: absolute;
    top: 535px;
    display: block;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.left:hover,
.left:focus,
.right:hover,
.right:focus
{
    color: transparent;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.left{
    left: 620px;
}
.right{
    right: 620px;
}
.fa-chevron-left:before {
    content: "\f053";
    color: #e1b838;
    font-size: 42px;
}
.fa-chevron-right:before {
    content: "\f054";
    color: #e1b838;
    font-size: 42px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    top: 540px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #e1b838;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #10100e;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: 0;
    color: #e1b838;
}
@media (max-width: 1370px)
{
    .left,.right {
        top: 495px;
    }
    .left{
        left: 42%;
    }
    .right{
        right: 42%;
    }
    .slick-dots {
        top: 500px;
    }
    @media (max-width: 1280px) {
        .left,.right {
            top: 445px;
        }
        .slick-dots {
            top: 450px;
        }
        .left{
            left: 40%;
        }
        .right{
            right: 40%;
        }
    }
    @media (max-width: 1024px) {
        .left,.right {
            top: 350px;
        }
        .slick-dots {
            top: 355px;
    }
    @media (max-width: 768px){
        .left{
            left: 35%;
        }
        .right{
            right: 35%;
        }
        .left,.right {
            top: 415px;
        }
        .slick-dots {
            top: 420px;
    }
    @media (max-width: 375px) {
        .left {
            left: 20%;
        }

        .right {
            right: 20%;
        }
    }